.show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }


.navbar-custom {
    background-color: #ff6600;
}


#card-mail{
    background-color: #ff6600;
}

.col-md-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-serv{
     border-radius:0%; 
     background-color: transparent;
    /* border: 1px solid #ff6600; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    width: 100%;
    height: 75%;
}

.card-imd-top{
    display: block;     
    margin-left: auto;
    margin-right: auto;
}



.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  


.card:hover .card-inner {
    transform: rotateY(180deg);

}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    background-color: rgb(255, 255, 255);
  }
  
/* Style the back side */
.card-back {
    color: #ffff;
    transform: rotateY(180deg);
    width: 300px;
    height: 75px;
    background-color: #ff6600;
    overflow:auto;
}

.navbar-nav > li{
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 2.5%;
    font-size: 225%;
    position: relative;
    right: 100%;    
    white-space: nowrap ;
    font-family: 'Poppins', sans-serif;
}

p{
    color: grey;
    text-align: center;
     font-size: 150%;
}

.link_contact{
    font-size: small;
}

#contactos_iniciais{
    position: relative;
    top: 0px;
}


.mat-icon{
    transform: scale(0.75);
    position: relative;
    top: 20%;
    left: -2%;
}
 
.display-4{
    margin-top: 2%;
    text-align: left;
    color:#ff6600; 
    font-size: 48px; 
    font-family: 'Poppins', sans-serif;
    font-size: 400%;
    margin-left: 5%;

}

.row{
    margin-top: 5%
}



.btn {
    background-color: #ff7d03;
    color:#ffff;
}

@media only screen and (max-width: 810px){
    .display-4{
        color:#ff6600;
        font-size: 250%;
        position: relative;
        text-align: center;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    .mapouter{
        scale: 0.7;
        position: relative;
        right: 100%
    }

    .card-serv{
        border-radius:0%; 
        background-color: transparent;
       border: 1px solid #ff6600;
       border-width: 70%;
       /* perspective: 1000px; */
       width: 200%;
       height: 50%;
       margin-left: 10%;
   }

   .card-imd-top{
    right: 10%;
   }

   .navbar-nav > li{
    font-size: 250%;
    font-family: 'Poppins', sans-serif;
    right: 30%;
    position: relative;
   }

   .navbar-nav > mr-auto{
    right: 10px;
    position: absolute;
   }

   h4{
    font-size: 120%;
   }

   .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }

}