<!DOCTYPE html>
<title>+Valia</title>
<header>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item border-0 link_contact">
      <mat-icon>phone</mat-icon><a class="link-dark text-decoration-none" href="#">+351 255 893 373</a>
    </li>
    <li class="list-group-item border-0 link_contact">
      <mat-icon>mail</mat-icon><a class="link-dark text-decoration-none" href="#">geral@maisvalia.pt</a>
    </li>
    <li class="list-group-item border-0 link_contact">
      <mat-icon>schedule</mat-icon><a class="link-dark text-decoration-none" href="#">Segunda a Sexta</a>
    </li>
  </ul>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom">
    <div class="container-fluid">
     <a class="navbar-brand" href="#"><img src=""></a> <!--Logo do escritorio -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
        <li>
          <img src="assets/s2.jpg" width="125px" height="62">
        </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#">Sobre Nós</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#">Serviços</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#">Parceiros</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#">Contactos</a>
          </li>
       </ul>
     </div>
    </div>
  </nav>
</header>
<body>
 

  <!--Perfil Empresa-->
    <!--Titulo-->
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div id="sobre_n"class="col-12">
          <h1 class="display-4">Sobre Nós</h1>
          <hr>
        </div>
      </div>
    </div>
    <!--Cartões-->
    <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-md-3">
          <div class="card">
            <img class="card-imd-top" src="assets/ruisantos.png" width="80px" height="106">
            <div class="card-body">
              <h4 class="card-title">Rui Santos</h4>
              <p class="card-text">Licenciado Economia
                UBI/FUNDP (Bélgica)
                Agente de Seguros registado no ISP</p>
                <a href="mailto:ruisantos@maisvalia.pt" id="card-mail" class="btn btn-primary btn-sm stretched-link">E-Mail</a>
            </div>
          </div>
          
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-imd-top" src="assets/vitorsantos.png" width="80px" height="106">
            <div class="card-body">
              <h4 class="card-title">Vitor Santos</h4>
              <p class="card-text">Licenciado Contabilidade e Administração IPB
                Técnico Oficial Contas</p>
              <a href="mailto:vitorsantos@maisvalia.pt" id="card-mail" class="btn btn-primary btn-sm stretched-link">E-Mail</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--Serviços-->
  <div class="row welcome text-center">
    <div id="sobre_n"class="col-12">
      <h1 class="display-4">Serviços</h1>
      <hr>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class=" row d-flex justify-content-center padding">
      <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
              <h1 class="card-title">Seguros</h1>
              <p class="card-text">Descrição</p>
            </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Contabilidade</h1>
            <p class="card-text">Descrição</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Créditos</h1>
            <p class="card-text">Descrição</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Aplicações Financeiras</h1>
            <p class="card-text">Descrição</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center padding">
      <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
              <h1 class="card-title">Projetos de Investimento</h1>
              <p class="card-text">Descrição</p>
            </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Criação de Empresas</h1>
            <p class="card-text">Descrição</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Recuperação de Empresas</h1>
            <p class="card-text">Descrição</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center padding">
      <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
              <h1 class="card-title">Consultoria</h1>
              <p class="card-text">Descrição</p>
            </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Documentação Geral</h1>
            <p class="card-text">Descrição</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>