.navbar-custom {
    background-color: #ff6600;
    opacity: 1;
}

#card-mail{
    background-color: #ff7700;
}

.card-imd-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-link{
    color:white;
    font-weight: bold;
    opacity: 1;
}

.link_contact{
    font-size: small;
}

#contactos_iniciais{
    position: relative;
    top: 0px;
}

.mat-icon{
    transform: scale(0.75);
    position: relative;
    top: 20%;
    left: -2%;
}
 
.display-4{
    margin-top: 2%;
}
