.navbar-custom {
    background-color: #ff6600;
}

#card-mail{
    background-color: #ff6600;
}

.col-md-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-serv{
     border-radius:0%; 
     background-color: transparent;
    border: 1px solid #ff6600;
    border-width: 70%;
    /* perspective: 1000px; */
    width: 100%;
    height: 75%;
}

.card-imd-top{
    display: block;     
    margin-left: auto;
    margin-right: auto;
}



.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  


.card:hover .card-inner {
    transform: rotateY(180deg);

}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    background-color: rgb(255, 255, 255);
  }
  
/* Style the back side */
.card-back {
    color: #ffff;
    transform: rotateY(180deg);
    width: 300px;
    height: 75px;
    background-color: #ff6600;
    overflow:auto;
    border-radius: 10px;
}

.navbar-nav > li:not(#imge){
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    font-size: 150%;
    position: relative;
    left: 140%;    
    color: black;
    white-space: nowrap ;
  }


.link_contact{
    font-size: small;
}

#contactos_iniciais{
    position: relative;
    top: 0px;
}

.card-imd-top{
    /* margin-top: 5%; */
}

.mat-icon{
    transform: scale(0.75);
    position: relative;
    top: 20%;
    left: -2%;
}
 
.display-4{
    margin-top: 2%;
    margin-left: -80%;
    color:#ff6600; 
    font-size: 48px; 
    font-family: 'Poppins', sans-serif;
}

.row{
    margin-top: 5%
}

.h1{
    color:#ff6600;
    font-size: 120%;
}

.btn {
    background-color: #ff7d03;
    color:#ffff;
}
